# GreenGenes Taxonomy File
taxonomy_file="bin/gg_13_5_taxonomy.txt" # GreenGenes taxonomy

# GreenGenes Tree
tree_file="bin/gg_13_5_otus_99_annotated.tree" # GreenGenes tree

# STUDY NAME?
study_name="claesson"

# STUDY BIOM OR OTU FILE? (full path)
study_biom="/home/pedro/Desktop/Masters/4th Semester/Thesis/experiments/datasets/claesson/gg/otutable.txt"

# STUDY METADATA MAPPING FILE? (full path)
mapping_file="/home/pedro/Desktop/Masters/4th Semester/Thesis/experiments/datasets/claesson/task.txt"

# STUDY METADATA COLUMN NAME FOR CLASSES?
class_variable="Var"

# STUDY CLASSES? (separated by ',')
classes="Young,Elderly"

# TAXA RANK AGGREGATION? (phylum, genus)
taxa_rank="genus"

# OTU ABUNDANCE TRANSFORMATION (relative, clr , log10)
transformation="log10"

# DISTANCE TO USE FOR ML ANALYSIS ("gunifrac", "unifrac", "wunifrac")
distance_measure="unifrac"

# RUN ALL OR PHASE 2 (1. ALL ; 2. PHASE 2)
condition=1
